@charset "utf-8";
/* media -------------------------------- */

@media screen and (max-width: 600px) {
    body {
		padding: 4%;
	}
	
	h1 {
		font-size: 3.5rem;
	}

	h1 img {
		width: 2.5rem;
	}

    .wrapper {
		width: 100%;
		flex-direction: column;
	}

	.input {
		margin: 0 4%;
		padding: 24px;
	}

	.addbtn img {
		width: 2rem;
	}
	
	.addbtn {
		padding: 16px 24px;
		margin-left: 0;
		margin: 16px 100px 0;
		font-size: 1.5rem;
	}

    .background {
		padding: 4%;
	}
	
	/* /////////////////////// */

	h2 {
		font-size: 2.5rem;
	}

	.textarea {
		width: 85%;
		margin: auto !important;
	}

	.you {
		font-size: 1.5rem;
	}

	.result {
		font-size: 2rem;
	}

	.sharebtn {
		font-size: 1.5rem;
	}

	.sharebtn img {
		height: 2rem;
	}
}